<hr>

<h1>Listing products</h1>

<br>

<button >Bulk</button>

<hr>

<table>
  <tr>
    <th align="left">Selected</th>
    <th class="@name_class" id="name_header" align="left">
      <%=link_to 'Product', :sort => 'name' %></th>
    <th class="@subcode_class" id="subcode_header" align="left">
      <%=link_to 'Subcode', :sort => 'subcode' %> </th>
    <th align="left">Url segment</th>
    <th class="@published_status_class" id="published_status_header" align="left">
      <%=link_to 'Published Status', :sort => 'status' %></th>
    <th align="left">Categories</th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr class='<%= cycle("odd", "even") %>'>
    <td><input type="checkbox"></td>
    <td><%= link_to(product.name, administration_product_path(product)) %></td>
    <td><%= product.subcode %></td>
    <td><%= product.url_segment %></td>
    <td><%= published_status(product.published_status) %></td>
    <td><%= raw(product.categories.published.map{ |c| category_link(c) }.join ('</br />')) %></td>
    <td><%= link_to 'Edit', edit_administration_product_path(product) %></td>
    <td><%= link_to 'Destroy', administration_product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_administration_product_path %>
